.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

#navBar{
  height: 3em;
  background: gray;
}

.vizRow{
  height: calc((100vh - 2em)/2);
}

.vizComponent{
  height: 100%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

#frameviewWindow{
  background: white;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}


#clusterviewWindow{
  background: orange;
}

#mapviewWindow{
  background: teal;
}

#timelineviewWindow{
  background: green;
}

.d3-component{
  height: 100%;
  width: 100%;
  margin: 0px;
  margin-top: 2px;
  padding: 0px;
}

.frameEntry{
  height: 6vh;
  width: 100%;
  margin: 0px;
  margin-top: 1vh;
  margin-left: 10px !important;
}

.frameEntry .d3-component{
  min-height: 2vh;
}

.forSah{
  fill: rgb(63, 150, 179);
}

.againstSah{
  fill: rgb(84, 83, 94);
}

.positiveSentiment{
  fill: rgb(204, 248, 5);
}

.negativeSentiment{
  fill: rgb(47, 51, 7);
}

.neutralSentiment{
  fill: rgb(135, 136, 127);
}

.vividQuality{
  fill: rgb(150, 90, 137);
}

.genericQuality{
  fill: rgb(170, 165, 165);
}

.blueState{
  fill: rgb(54, 54, 253);
}

.redState{
  fill: rgb(241, 88, 88);
}

.tooltip {	
  position: absolute;
  z-index: 10;
  opacity: 1!important;			
  text-align: center;			
  width: auto;					
  height: auto;					
  padding: 10px;				
  font: 12px sans-serif;		
  background: rgb(172, 173, 173);	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

.frameButton{
  height: 100%;
  width: calc(100%-20px);
  margin: 0px;
  left: 20px !important;
  font-size: .9em !important;
  /* margin-left: -.2vw; */
  font-weight: bold !important;
}